@{
    ViewData["Title"] = "Index";
}



<div>
        <h1>TATOZO</h1>

             <img src= "/Imagenes/LogoZoeWolfus.png" alt ="imagen">

     @foreach (integrante integrante in ViewBag.integrantes.Values)
     {
        <p>@integrante.datosPersonales.nombre @integrante.datosPersonales.apellido </p>
        <a href='@Url.Action("MostrarDatosFamiliares","Home", new {DNI = integrante.DNI})'alt = "Ir a estudiante seleccionado"> <p>DATOS FAMILIARES</p></a>
        <a href='@Url.Action("selectIntegrante","Home", new {DNI = integrante.DNI})'alt = "Ir a estudiante seleccionado"> <p>DATOS PERSONALES</p></a>
        <a href='@Url.Action("MostrarDatosInteres","Home", new {DNI = integrante.DNI})'alt = "Ir a estudiante seleccionado"> <p>DATOS DE INTERES</p></a>


     }
        
</div>
