
<p>Mis intereses son:</p>
@{
<p>@ViewBag.datosInteres.hobbies @ViewBag.datosInteres.seriesFavoritas, @ViewBag.datosInteres.amigos, @ViewBag.datosInteres.gustosEscolares </p>
}

        <a href='@Url.Action("Index","Home")'alt = "Ir al index"> <p>VOLVER</p></a>
