mis Datos personales son:
<p>@ViewBag.datosPersonales.nombre @ViewBag.datosPersonales.apellido, @ViewBag.datosPersonales.fechaNacimiento, @ViewBag.datosPersonales.foto </p>




<a href='@Url.Action("Index","Home")'alt = "Ir al index"> <p>VOLVER</p></a>
