@{
    ViewData["Title"] = "Index";
}
 
@foreach (Disco item in ViewBag.Discos.Values)
{

    <div>
        <img src="~/Imagenes/@item.foto" alt="">
         <p>
        <strong>@item.nombre</strong> <br />
        Género: @item.generoDisco.nombre <br />
        Artista: @item.artistaDisco.nombre <br />
        Productor: @item.productorDisco.nombre <br />
    </p>
     <a href='@Url.Action("Mostrardiscos","Home", new{num = item.num})'alt = "Ir al index"> <p>Info Disco</p></a>
    </div>
    
}